// RESET
*{
    margin: 0;
    padding: 0 ;
    text-decoration: none;
    list-style: none;
}

html{
font-family: 'Poppins', sans-serif;
}
a,i,img{
    display: block;
}


// HEADER

header{
    .langue {
        display: flex;
        justify-content: flex-end;
        margin: 1%;
        
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        .into{
            margin-left: 3%;
            h1{
                font-size: 80px;
                
            }
        }
        nav{
            display: flex;
           
             ul{
                width: 500px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                li{
                    
                    
                    a{
                }      
            }
        }
    } 
}

    .carousel{
        display: flex;
        margin: 3%;
        .image1{
            width: 80%;
            
        }
        .lego{
            img{
                width: 70%;
                margin-top: 150%;
            }
            
        .house{
            border-bottom: 10px solid;
            position: absolute;
            right: 10%;
            p{
                font-size: 90px;
                font-weight: 800;
                }
            }
        }
    }
}

main{
    h3{
        margin: 2%;
    }
    .projet{
        display: flex;
        .paraf1{
            a{
                margin-top: 70%;
                border: 3px solid white;
                width: 30%;
                background-color: black;
                color: white;
                text-align: center;

            }
        }
       
        div{
            width: 25%;
            margin: 2%;
            
        }
        .paraf4{
            font-size: 40px;
            border: 5px solid;
            font-weight: 500;
            p{
                margin: 5%;
            }
        }
    }
    .projet2{
        display: flex;
        margin: 3%;
        
        .paraf5{
            background-color: black;
            
            p{
                color: white;
                margin-top: 1%;
                margin-left: 2%;
                
            }
            a{
                margin-top: 2%;
                margin-left: 5%;
                border: 3px solid white;
                width:10%;
                text-align: center;
                color: white;
            }

        }
        .paraf6{
            margin-top: 30%;
            width:50% ;
            margin-bottom: -3%;
            border-top: 5px solid ;
            margin-left: 2%;
            p{
                padding-bottom: 10%;
            }
            a{
                border: 3px solid white;
                width: 30%;
                background-color: black;
                color: white;
                text-align: center;
                margin-top: 3%;
                
            }
            
        }
        .paraf7{
            width: 50%;
            margin-top: 30%;
            border-top: 5px solid;
            margin-left: 2%;
            margin-bottom: -3%;
            img{
                width: 90%;
            }
            p{
                padding-bottom: 10%;
            }
            a{
                border: 3px solid white;
                width: 30%;
                background-color: black;
                color: white;
                text-align: center;
                
            }
        }
    }
}

    .projet3{
        display: flex;
        margin-top: 25%;

        position: relative;
        margin-right: 7%;
        margin-left: 2%;
        .ligne{
            border-top: 10px solid;
            width: 60%;
        }
        .ligne2{
            // margin-top: 15%;
            
            h3{
                margin-top: 5%;
                font-size: 25px;
            }
            p{
                margin-top: 5%;
                margin-left: 2%;
            }
        }
        .prix{
            font-size: 80px;
            position: absolute;
            z-index: 3;
            font-weight: 800;
            left: 75%;
            bottom: 79%;
            border: 10px solid;
            width: 15%;
            .prix2{
                color: white;
            }


        }
        img{
        
        }
       
    }
    .linear{
            
        font-size: 9em;
        transform: rotate(90deg);
        font-weight: 900;
        background: linear-gradient(to bottom, black 50%, white 50%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        left: 89.2%;
        top: 35%;
    
}

footer{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    align-items: center;
    padding-bottom: 5%;
    .hello{
        margin-bottom: 2%;
        h3{
            
        }
    }
}

// RESPONSIVE

@media screen and (max-width:940px){
    body{
        main{ 
        
        
        flex-direction: column;}
    }
}